@media(min-width:768px){
    .news-input{
        width: 50%;
    }
}
#map {
    
    height: 400px;
    width: 100%;
}

body::before {
    display: block;
    content: '';
    height: 60px;
    background-color: #212529;
  }